header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #575757;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}

#api_status {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #cccccc;
    display: block;
    margin: 1em 1em 0 auto;
}

#api_status.available {
    background-color: #ff545f;
}
